{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="warpper">
            <img src="../static/imgs/5.svg" alt="">
            <p style="font-size: 1.2em;">
                Simulate motion, visualize results, and explore the principles of physics with our easy-to-use tool.  
                Whether you're studying free fall, energy conservation, or the effects of gravity, our tool helps you understand complex concepts through interactive simulations.  
                Customize parameters, view detailed graphs, and see how changes affect the motion in real-time.
            </p>
        </div>
        <a href="/tool" class="btn1">tool</a>
    </div>
{% endblock %}